@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* font-family: sans-serif; */
  font-weight: 200;
}

/* hero */
#custom_img {
  background-image: url("./mkl1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* contact form styles */

label {
  margin-bottom: 5px;
  color: #ea580c;
}
input {
  border-bottom: 2px solid #ea5a0cb7;
  padding: 8px;
  width: 300px;
  background-color: transparent;
  outline: none;
}
h2 {
  font-size: 52px;
}
h3 {
  font-size: 30px;
}
.p-color {
  color: #0d8182;
}
button {
  padding: 8px 32px;
  color: white;
  background-color: #0d8182;
}
p {
  font-size: 17px;
  color: rgb(0, 0, 0);
}

#tile {
  transition: all ease-in-out 350ms;
  cursor: pointer;
}
#tile:hover #tile-text {
  transition: all ease-in-out 350ms;
}
#tile #tile-image {
  transition: all ease-in-out 350ms;
}
#tile:hover #tile-image {
  opacity: 1;
}

#tile:hover #tile-team-text {
  transform: translateY(0%);
}

#service-banner {
  width: 100%;
  height: 40vh;
  background-image: url("./mkl3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  filter: blur(200px);
}
.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  filter: blur(200px);
}

@media (max-width: 500px) {
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
}

#gmap_canvas img {
  max-width: none !important;
  background: none !important;
}
#rwe {
  position: absolute;
  width: 80%;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  text-align: center;
}
#rew {
  line-height: 1.8;
  font-size: 2px;
  background: #fff;
}
